<!DOCTYPE html>
<html>
<head>
  <title></title>


  <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
  <script src="http://code.jquery.com/jquery-1.4.2.min.js" type="text/javascript"></script>    

 <script>

$(function(){

$(".draggableBK7").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

  $(".draggableGraphene").draggable({
    //grid: [ 20, 20 ],
    appendTo: '#droppable',
    containment: "window",
    cursor: 'move',
    revertDuration: 100,
    revert: 'invalid',
    helper: 'clone'
    //event.dataTransfer.setData('User', modalBK7.id);
  });

$(".draggableAu").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableAg").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableCu").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableAl").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableLi").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableFe").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableIn").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});


$(".draggablePt").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableOs").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggablePd").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableTopas").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggablePC").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggablePMMA").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableAgua").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableAr").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableCustom").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableQuartz").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableSapphire").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableCycloHexano").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

$(".draggableCustomComplex").draggable({
  //grid: [ 20, 20 ],
  appendTo: '#droppable',
  containment: "window",
  cursor: 'move',
  revertDuration: 100,
  revert: 'invalid',
  helper: 'clone'
  //event.dataTransfer.setData('User', modalBK7.id);
});

var lista_elementos = [];

var soma_resultados_sensograma = [];
$('#calculaSensograma').click(function(e){
  e.preventDefault();

  var data = {
    elementos: lista_elementos,
    espessuras: [],
    refracaos: $('#refracaoCustom').val(),
    refracaosReal: $('#refracaoCustomReal').val(),
    refracaosImg: $('#refracaoCustomImg').val(),
    onda: $('#Comprimento_onda').val(),
    anguloEntrada: $('#Angulo_entrada').val(),
    anguloSaida: $('#Angulo_saida').val(),
    passo2: $('#Angulo_soma').val(),
    tempoInicio: $('#tempoInicio').val(),
    tempoPasso: $('#tempoPasso').val(),
    tempoTotal: $('#tempoTotal').val(),
    tempoInjecao: $('#tempoInjecao').val(),
    tempoInjecao2: $('#tempoInjecao2').val(),
    tempoInjecao3: $('#tempoInjecao3').val(),
    EspessuraCustom1: $('#EspessuraCustom1').val(),
    RefracaoCustom1: $('#RefracaoCustom1').val(),
    EspessuraCustom2: $('#EspessuraCustom2').val(),
    RefracaoCustom2: $('#RefracaoCustom2').val(),
    EspessuraCustom3: $('#EspessuraCustom3').val(),
    RefracaoCustom3: $('#RefracaoCustom3').val()

  };

  for(var i = 0; i < 3; i++){
    
    switch(data.elementos[i]){
      case 'Au':
        data.espessuras.push($('#espessuraAu').val());
        break;
      case 'Al':
        data.espessuras.push($('#espessuraAl').val());
        break;
      case 'Cu':
        data.espessuras.push($('#espessuraCu').val());
        break;
      case 'Ag':
        data.espessuras.push($('#espessuraAg').val());
        break;
      case 'Li':
        data.espessuras.push($('#espessuraLi').val());
        break;
      case 'Fe':
        data.espessuras.push($('#espessuraFe').val());
        break;
      case 'In':
        data.espessuras.push($('#espessuraIn').val());
        break;
      case 'Pt':
        data.espessuras.push($('#espessuraPt').val());
        break;
      case 'Os':
        data.espessuras.push($('#espessuraOs').val());
        break;
      case 'Pd':
        data.espessuras.push($('#espessuraPd').val());
        break;
      case 'BK7':
        data.espessuras.push($('#espessuraBK7').val());
        break;
      case 'Quartz':
        data.espessuras.push($('#espessuraQuartz').val());
        break;
      case 'Safira':
        data.espessuras.push($('#espessuraSapphire').val());
        break;
      case 'Sapphire':
        data.espessuras.push($('#espessuraSapphire').val());
        break;
      case 'Topas':
        data.espessuras.push($('#espessuraTopas').val());
        break;
      case 'PC':
        data.espessuras.push($('#espessuraPC').val());
        break;
      case 'PMMA':
        data.espessuras.push($('#espessuraPMMA').val());
        break;
      case 'Agua':
        data.espessuras.push($('#espessuraAgua').val());
        break;
      case 'Water':
        data.espessuras.push($('#espessuraAgua').val());
        break;
      case 'Ar':
        data.espessuras.push($('#espessuraAr').val());
        break;
      case 'Air':
        data.espessuras.push($('#espessuraAr').val());
        break;
      case 'Custom':
        data.espessuras.push($('#espessuraCustom').val())
        break;
      case 'Ciclo-Hex':
        data.espessuras.push($('#espessuraCycloHexano').val());
        break;
      case 'CycloHex':
        data.espessuras.push($('#espessuraCycloHexano').val());
        break;
       case 'Cus. Complex':
        data.espessuras.push($('#espessuraCustomComplex').val());
        break;

    }
  }
  console.log(data)

$.ajax({
  type: 'POST',
  url: 'https://dry-gorge-43083.herokuapp.com/simulaCamada4',
  //url: 'http://localhost:3000/simulaCamada4',
  dataType: 'json',
  data: data
}).done(function(res) {
    //console.log(res)
    soma_resultados_sensograma = soma_resultados_sensograma.concat(res.chartSensograma);
      var chartSensograma = new FusionCharts({
      type : 'zoomscatter',
      id : 'chartobject-1',
      renderAt : 'chart-container1',
      width : '600',
      height : '350',
      dataFormat : 'json',
      dataSource : {
          chart : {
              
              theme : "fint",
              caption : "<%= t :Sensorgrama %>",
              subcaption : "AIM",
              yaxisname : "<%= t :AnguloMinimo %>",
              xaxisname : "<%= t :Tempo %>",
              xaxismaxvalue : "1000",
              xaxisminvalue : "0",
              yaxismaxvalue : "80",
              yaxisminvalue : "50",
              xnumberprefix : "",
              ynumbersuffix : "",
              showXAxisLine : "10",
              showformbtn : "1",
              formAction : "#",
              exportEnabled: "1",
              submitdataasxml :  "1"
          },
          categories : [{
              verticallinecolor : "666666",
              verticallinethickness : "1",
              alpha : "40",
              category : []
          }],
          dataset : [{
              drawline : "1",
              thickness: "5",
              color : "#3052DC",
              anchorsides : "3",
              anchorradius : "3",
              anchorbgcolor : "#3052DC",
              anchorbordercolor : "#3052DC",
              data : soma_resultados_sensograma
               
          }]
      }

    });

    chartSensograma.render();

    $('#valor-medio').html(res.valor_medio);
    $('#valor-medioCustom2').html(res.valor_medioCustom2);
    $('#valor-medioCustom3').html(res.valor_medioCustom3);
    $('#angulo-min').html(res.angulo_minimo);
    $('#angulo-minCustom2').html(res.angulo_minimoCustom2);
    $('#angulo-minCustom3').html(res.angulo_minimoCustom3);
    $('#larguraCerto').html(res.largura_certo);
    $('#larguraCertoCustom2').html(res.largura_certoCustom2);
    $('#larguraCertoCustom3').html(res.largura_certoCustom3);
    $('#AssimetriaCerto').html(res.assimetria_certo);
    $('#AssimetriaCertoCustom2').html(res.assimetria_certoCustom2);
    $('#AssimetriaCertoCustom3').html(res.assimetria_certoCustom3);
    $('#indiceRefracao').html(res.indiceRefracaoCerto);
    $('#IRCustom1').html(res.IRCustom1);
    $('#IRCustom2').html(res.IRCustom2);
    $('#IRCustom3').html(res.IRCustom3);

  });


});

function updateLista(){

  setTimeout(function() {
    lista_elementos = [];

    $('#droppable .item').each(function() {
       lista_elementos.push($(this)[0].innerHTML);
       
    });

    console.log('lista', lista_elementos)

  }, 1000);
  
}

$("#droppable").droppable({
      //accept: ".draggable",
      drop: function(event, ui) {
      //console.log(event)
      var $list = $(this);
      //console.log($list)
      // Checagem de quantidade de elementos dentro do modelo. 
      if ($(this).children().length == $(this).data('max')) {
        return false;
      }
      ui.helper.clone().appendTo('#droppable');
      updateLista();
    }, tolerance: "touch"
});

    $('#refresh').click(function(e){
          e.preventDefault();
          $('#droppable label').remove();
      });

});


</script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="indexCamada3"><%= t :SimularAIM %></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="indexCamada3Wim"><%= t :SimularWIM %></a>
      </li>
		<li class="nav-item active">
			<a class="nav-link" href="index"><%= 'Localized SPR' %></a>
		</li>
      <li class="nav-item active">
        <a class="nav-link" href="simulaCamada3"><%= t :Sensorgrama %></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" id="navbarNav">
      <li class="nav-item">
        <%= link_to image_tag("br.png", :alt => "brazil"), class: 'img-fluid' %>
        <a class="nav-link" href="?locale=pt">PT</a>
      </li>
      <li class="text-white ml-1">
        ||
      </li>
      <li class="nav-item ml-3">
        <%= link_to image_tag("us.png", :alt => "usa"), class: 'img-fluid' %>
        <a class="nav-link" href="?locale=en">EN</a>
      </li>
    </ul>
  </div>
</nav>

<section class="container-fluid justify-content-center mt-3">
  <div class="row">
    <div class="col-sm-6 col-md-3 rounded float-left">
      <%= link_to image_tag("Logo_UFERSA.png", :alt => "ufersa"), "https://ufersa.edu.br/", class: 'img-fluid' %>
    </div>

    <div class="col-lg-6 col-md-6 text-center">
      <h1><%= t :Nome %> </h1>
      <h4><%= t :Universidade %></h4>
    </div>

    <div class="col-sm-6 col-md-3 rounded float-right">
      <%= link_to image_tag("cnpq.png", id: "cnpq1", :alt => "cnpq"), "http://cnpq.br", class: 'img-fluid' %>
    </div>
  </div>
</section>

<%= form_tag :action => 'simulaCamada4', remote: true do %>

<div class="container">
      <div class="form-row">
        <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
          <label><%= t :Camada %></label>
            <select class="custom-select text-center" onChange="window.location.href=this.value">
              <option selected><%= t :Camada %></option>
              <option value="simulaCamada3">3</option>
              <option value="simulaCamada4" selected="selected">4</option>
              <option value="simulaCamada5">5</option>
              <option value="simulaCamada6">6</option>
              <option value="simulaCamada7">7</option>
              <option value="simulaCamada8">8</option>
              <option value="simulaCamada9">9</option>
            </select>
          </div>

        <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
            <label><%= t :Comprimento %></label>
            <%= number_field_tag(:Comprimento_onda,670, min:1, step:0.1, class: 'form-control text-center') %>
          </div>
          <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
            <label><%= t :AnguloE %></label>
            <%= number_field_tag(:Angulo_entrada, 50, min:0, step:0.1, class: 'form-control text-center') %>
          </div>
          <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
            <label><%= t :AnguloS %></label>
            <%= number_field_tag(:Angulo_saida, 80, min:0, step:0.1, class: 'form-control text-center') %>
          </div>
          <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
            <label class="text-center"><%= t :Passo %></label>
            <%= number_field_tag(:Angulo_soma, 0.1, min:0,step:0.1, class: 'form-control text-center') %>
          </div>
          
      </div>

      <div id="under">
        <div class="materiais">
          <h3><%= t :Materiais %></h3>
          </div>
        <!--These are all the draggable peices-->

        <ul class='folder-list'>
        <li>
          <input type='checkbox' id='folder1' >
            <label for='folder1'><%= t :Metal%></label>
             <ul>
              <li>  
                <%= (label_tag('modal-2','Au',id: 'Au',class: 'draggableAu item')) %>
              </li>
              
              <li>
                <%= (label_tag('modal-3','Ag',id: 'Ag',class: 'draggableAg item')) %>
              </li> 
              
              <li>
                <%= (label_tag('modal-4','Cu',id: 'Cu',class: 'draggableCu item')) %>
              </li>

               <li>
                <%= (label_tag('modal-5','Al',id: 'Al',class: 'draggableAl item')) %>
               </li> 

               <li>
                <%= (label_tag('modal-18','Li',id: 'Li',class: 'draggableLi item')) %>
               </li>

               <li>
                <%= (label_tag('modal-19','Fe',id: 'Fe',class: 'draggableFe item')) %>
               </li>

               <li>
                <%= (label_tag('modal-20','In',id: 'In',class: 'draggableIn item')) %>
               </li>

               <li>
                <%= (label_tag('modal-21','Pt',id: 'Pt',class: 'draggablePt item')) %>
               </li>

               <li>
                <%= (label_tag('modal-22','Os',id: 'Os',class: 'draggableOs item')) %>
               </li>

               <li>
                <%= (label_tag('modal-23','Pd',id: 'Pd',class: 'draggablePd item')) %>
               </li>

               
            </ul>
          </li>
        </ul>

        <ul class='folder-list'>
         <li>
          <input type='checkbox' id='folder2'>
            <label for='folder2'><%= t :Vidros%></label>
            
            <ul>
             <li>
                <%= (label_tag('modalBK7','BK7', id:'BK7',class: 'draggableBK7 item')) %>
             </li>
                  <li>
                   <%= (label_tag('modal-15','Quartz',id: 'Quartz',class: 'draggableQuartz item')) %>
                  </li>
                  <li>
                   <%= (label_tag('modal-16', t(:Safira), id: 'Safira',class: 'draggableSapphire item')) %>
                  </li>
           </ul>
         </li>
        </ul>

         <ul class='folder-list'>
      <li>
        <input type='checkbox' id='folder3'>
          <label for='folder3'><%= t :Polimeros%></label>
            <ul>
              <li>
               <%= (label_tag('modal-8','Topas',id: 'Topas',class: 'draggableTopas item')) %>
              </li>

              <li>
               <%= (label_tag('modal-9','PC',id: 'PC',class: 'draggablePC item')) %>
              </li>

              <li>
               <%= (label_tag('modal-10','PMMA',id: 'PMMA',class: 'draggablePMMA item')) %>
              </li>    
          </ul>
        </li>
    </ul>

<ul class='folder-list'>
  <li>
    <input type='checkbox' id='folder6'>
    <label for='folder6'> 2D Materials </label>
    <ul>
      <li>
        <%= (label_tag('modal-25','Graphene', id:'Graphene',class: 'draggableGraphene item' )) %>
      </li>
    </ul>
  </li>
</ul>

<ul class='folder-list-particulas' style="pointer-events: none;">
  <li>
    <input type='checkbox' id='folder7'>
    <label for='folder7'> Nano Particles </label>
    <ul>
      <li>
        <%= (label_tag('modal-2','Au', id:'Au', class: 'draggableAu item circulo' )) %>
      </li>
      <li>
        <%= (label_tag('modal-3','Ag',id: 'Ag' ,class: 'draggableAg item circulo' )) %>
      </li>
      <li>
        <%= (label_tag('modal-4','Cu',id: 'Cu' ,class: 'draggableCu item circulo' )) %>
      </li>

      <li>
        <%= (label_tag('modal-5','Al',id: 'Al' ,class: 'draggableAl item circulo' )) %>
      </li>
      <li>
        <%= (label_tag('modal-11', 'Wa' , id: 'Agua' ,class: 'draggableAgua item circulo' )) %>
      </li>
      <li>
        <%= (label_tag('modal-13', t(:Ar), id: 'Ar' ,class: 'draggableAr item circulo' )) %>
      </li>
    </ul>
  </li>
</ul>

    <ul class='folder-list'>
      <li>
        <input type='checkbox' id='folder4'>
          <label for='folder4'><%= t :Outros%></label>
          <ul>
          
            <li>
              <%= (label_tag('modal-11',t(:Agua), id: 'Agua',class: 'draggableAgua item')) %>
            </li>

            <li>
              <%= (label_tag('modal-13', t(:Ar), id: 'Ar',class: 'draggableAr item')) %>
            </li>

            <li>
              <%= (label_tag('modal-17', t(:CicloH), id: 'Cyclo-Hexano',class: 'draggableCycloHexano item')) %>
            </li>

            <li>
              <%= (label_tag('modal-14','Custom',id: 'Custom',class: 'draggableCustom item')) %>
            </li>

            <li>
              <%= (label_tag('modal-24','Cus. Complex',id: 'CustomComplex',class: 'draggableCustomComplex item')) %>
            </li>

            </ul>
        </li>
      </ul>

    </div>
      
       <div id="droppable" class="list" data-max="5" >
         <div class="modelo"> 
           <h3><%= t :Modelo %></h3>
             <div class="luz"> 
                <div class="linha">
                  <hr>
                </div>
                <div class="linha35">
                  <hr>
                </div>
                <div class="linha70">
                  <hr>
                </div>
                <div class="arrowed">
                   <div class="arrow-3"></div>
                </div>
            </div>
          </div>
       </div>
  </div>

  <div id="chart-container1"><%= @fusioncharts.render() %></div>
    
   <div class="container tamanhoBotao">
    <button id="calculaSensograma" class="btn btn-primary"><%=t(:Iniciar)%></button>
    <button id="refresh" class="btn btn-primary"> <%=t(:Apagar)%></button> 
  </div>

  <div class="container">
   <div class="form-row"> 
      <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
        <label><%=t(:TempoI)%></label>
        <%= number_field_tag(:tempoInicio, 1, min:0, step:1, class: 'form-control text-center') %>
      </div>    
    <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
      <label><%=t(:TempoT)%></label>
      <%= number_field_tag(:tempoTotal, 1000, min:0, step:1, class: 'form-control text-center') %>
    </div>
    <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
      <label><%=t(:Passo)%></label>
      <%= number_field_tag(:tempoPasso, 1, min:0, step:1, class: 'form-control text-center') %>
      </div>
  </div>
<div class="container">
  <div class="form-row">
    <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
      <label><%=t(:EspessuraNN)%></label>
      <%= number_field_tag(:EspessuraCustom1, 100, min:0, step:0.1, class: 'form-control text-center') %>
     </div> 
      
      <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
        <label><%=t(:IndiceR)%></label>
        <%= number_field_tag(:RefracaoCustom1, 1.35, min:0, step:0.01, class: 'form-control text-center') %>
      </div>
      <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
        <label><%=t(:TempoIN)%> 1</label>
        <%= number_field_tag(:tempoInjecao, 400 , min:0, step:1, class: 'form-control text-center') %>
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
          <label><%=t(:EspessuraNN)%></label>
          <%= number_field_tag(:EspessuraCustom2, 100, min:0, step:0.1, class: 'form-control text-center') %>
        </div>
        <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
          <label><%=t(:IndiceR)%></label>
          <%= number_field_tag(:RefracaoCustom2, 1.34, min:0, step:0.01, class: 'form-control text-center') %>
        </div>
        <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
          <label><%=t(:TempoIN)%> 2</label>
          <%= number_field_tag(:tempoInjecao2, 400, min:0, step:1, class: 'form-control text-center') %>
        </div>     
      </div>
      
      <div class="form-row">
        <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
            <label><%=t(:EspessuraNN)%></label>
            <%= number_field_tag(:EspessuraCustom3, 100, min:0, step:0.1, class: 'form-control text-center') %>
        </div>
          <div class="form-group col-xl-2 col-sm-12 col-md-3 text-center">
            <label><%=t(:IndiceR)%></label>
            <%= number_field_tag(:RefracaoCustom3, 1.33, min:0, step:0.01, class: 'form-control text-center') %>
          </div>

          <div class="form-group col-xl-2 col-sm-2 col-md-3 text-center">
            <label><%=t(:TempoIN)%> 3</label>
            <%= number_field_tag(:tempoInjecao3, 200, min:0, step:1, class: 'form-control text-center') %>
          </div>
      </div>
<section class="camposResultadosSensograma float-left ml-2" style="max-width: 40rem;">
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#resultadoAim" role="tab" aria-controls="resultadoAim"><%=t(:Resultado)%> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ajuda" role="tab" aria-controls="ajuda"><%=t(:Ajuda)%></a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="resultadoAim" role="tabpanel">
        <div class="row">
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"><b><%=t(:IndiceR)%>:</b> <span id="IRCustom1"> <%= @IRCustom1 %></span></p>
          </div>
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"><b><%=t(:ValorMedio)%>:</b> <span id="valor-medio"> <%= @teta_medio %></span></p>
          </div>
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"><b><%=t(:AnguloMinimo)%>:</b> <span id="angulo-min" > <%= @teta_aux_v1 %> </span> </p>
          </div>
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"><b><%=t(:Largura)%>:</b> <span id="larguraCerto"> <%= @vetor %> </span> </p>
          </div>
           <div class="col-xl-4 col-sm-4 mt-1"> 
            <p class="text-left"><b><%=t(:Assimetria)%>:</b> <span id="AssimetriaCerto"> <%= @vetor1 %></span></p>
            </div>
          </div>

        <div class="row">
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"> <b><%=t(:IndiceR)%>:</b> <span id="IRCustom2"> <%= @IRCustom2 %> </span></p>
          </div>
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"> <b><%=t(:ValorMedio)%>:</b> <span id="valor-medioCustom2"> <%= @teta_medioCustom2 %></span></p>
          </div>
          <div class="col-xl-4 col-sm-4 mt-1">
            <p class="text-left"> <b><%=t(:AnguloMinimo)%>:</b> <span id="angulo-minCustom2" > <%= @teta_aux_v1Custom2 %> </span></p>
          </div>
           <div class="col-xl-4 col-sm-4 mt-1"> 
              <p class="text-left"> <b><%=t(:Largura)%>:</b> <span id="larguraCertoCustom2"> <%= @vetorCustom2 %> </span></p>
            </div>
            <div class="col-xl-4 col-sm-4 mt-1"> 
            <p class="text-left"><b><%=t(:Assimetria)%>:</b> <span id="AssimetriaCertoCustom2"> <%= @vetor1Custom2 %></span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-4 col-sm-4 mt-1">
              <p class="text-left"> <b><%=t(:IndiceR)%>:</b> <span id="IRCustom3"> <%= @IRCustom3 %> </span></p>
            </div>
            <div class="col-xl-4 col-sm-4 mt-1">
              <p class="text-left"> <b><%=t(:ValorMedio)%>:</b> <span id="valor-medioCustom3"> <%= @teta_medioCustom3 %></span></p>
            </div>
            <div class="col-xl-4 col-sm-4 mt-1">
              <p class="text-left"> <b><%=t(:AnguloMinimo)%>:</b> <span id="angulo-minCustom3" > <%= @teta_aux_v1Custom3 %> </span></p>
            </div>
             <div class="col-xl-4 col-sm-4 mt-1"> 
                <p class="text-left"> <b><%=t(:Largura)%>:</b> <span id="larguraCertoCustom3"> <%= @vetorCustom3 %> </span></p>
              </div>
              <div class="col-xl-4 col-sm-4 mt-1"> 
            <p class="text-left"><b><%=t(:Assimetria)%>:</b> <span id="AssimetriaCertoCustom3"> <%= @vetor1Custom3 %></span></p>
            </div>
          </div>
      </div>
      
       <div class="tab-pane" id="ajuda" role="tabpanel">
         <a href="manualSPR.pdf" download="manualSPR.pdf" class="mt-2"><%=t(:Manual)%></a>
          <p class="mt-5"><%= t(:Desenvolvedor)%>: Julio Cartier M. Gomes</p>
          <p><%= t(:Orientador)%>: Leiva Casemiro Oliveira </p>
       </div>
    </div>
</section>
</div>
    

 <input class="modal-state" id="modalBK7" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modalBK7"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraMM%>:</label> 
                          <%= number_field_tag(:espessuraBK7, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

				<input class="modal-state" id="modal-25" type="checkbox" />
				<div class="modalBK7">
					<label class="modal__bg" for="modal-25"></label>
					<div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
						<div class="form-group text-center">
							<label class="mt-2">
								<%= 'Number of Layers'%>:
							</label>
							<%= number_field_tag(:numeroCamadas, 1, min:0, step:1, max: 10,
								class: 'form-control col-xl-4 text-center float-right' ) %>
						</div>
						<!--<button id="close">Close</button>-->
						<div id="sair">
							<p class="text-center font-weight-bold">
								<%= t :CliqueFora %>.
							</p>
						</div>
						<div id="dynamic" class="hidden"></div>
					</div>
				</div>

              <input class="modal-state" id="modal-2" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-2"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraAu, 50, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                      <div class="form-group text-center">
                        <label class="mt-2">
                          <%= 'Temperature' %>:
                        </label>
                        <%= number_field_tag(:temperatura, 38, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right' ) %>
                      </div>
                      <div class="row">
                        <div class="form-check form_check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Rakic
                          </label>
                        </div>
                        <div class="form-check form_check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Yakubovsky
                          </label>
                        </div>
                        <div class="form-check form_check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                          <label class="form-check-label" for="flexRadioDefault3">
                            Bessel
                          </label>
                        </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

              <input class="modal-state" id="modal-3" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-3"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraAg, 50, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                <input class="modal-state" id="modal-4" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-4"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraCu, 50, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-5" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-5"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraAl, 50, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-8" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-8"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraTopas, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-9" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-9"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraPC, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-10" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-10"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraPMMA, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

            <input class="modal-state" id="modal-11" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-11"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraAgua, 100, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div> 

              <input class="modal-state" id="modal-13" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-13"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraAr, 100, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-14" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-14"></label>
                    <div class="modal__inner_Custom col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraCustom, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>

                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :IndiceRefracao%>:</label> 
                          <%= number_field_tag(:refracaoCustom, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                  <input class="modal-state" id="modal-24" type="checkbox" />
                  <div class="modalBK7">
                    <label class="modal__bg" for="modal-24"></label>
                      <div class="modal__inner_Custom col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                        <div class="form-group text-center"> 
                        <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                            <%= number_field_tag(:espessuraCustomComplex, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                        </div>

                        <div class="form-group text-center"> 
                        <label class="mt-2"><%= t :PartReal%>:</label> 
                            <%= number_field_tag(:refracaoCustomReal, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                        </div>

                        <div class="form-group text-center"> 
                        <label class="mt-2"><%= t :PartImg%>:</label> 
                           <%= number_field_tag(:refracaoCustomImg, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %> 
                        </div>

                            <!--<button id="close">Close</button>-->
                            <div id="sair">
                              <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                            </div>
                      <div id="dynamic" class="hidden"></div>
                    </div>
                 </div>

              <input class="modal-state" id="modal-15" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-15"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraMM %>:</label> 
                          <%= number_field_tag(:espessuraQuartz, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

              <input class="modal-state" id="modal-16" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-16"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraMM %>:</label> 
                          <%= number_field_tag(:espessuraSapphire, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

              <input class="modal-state" id="modal-17" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-17"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraCycloHexano, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-18" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-18"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraLi, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-19" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-19"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraFe, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-20" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-20"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraIn, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-21" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-21"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraPt, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-22" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-22"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraOs, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>

                 <input class="modal-state" id="modal-23" type="checkbox" />
                <div class="modalBK7">
                  <label class="modal__bg" for="modal-23"></label>
                    <div class="modal__inner_BK7 col-xl-3 col-sm-3 col-md-3 col-sm-3 mt-6">
                      <div class="form-group text-center"> 
                       <label class="mt-2"><%= t :EspessuraNano %>:</label> 
                          <%= number_field_tag(:espessuraPd, 1, min:0, step:0.1, class: 'form-control col-xl-4 text-center float-right') %>
                      </div>
                          <!--<button id="close">Close</button>-->
                          <div id="sair">
                            <p class="text-center font-weight-bold"><%= t :CliqueFora %>.</p>
                          </div>
                     <div id="dynamic" class="hidden"></div>
                  </div>
                 </div>
<% end %>


<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</body>
</html>
